/* DISEÑO DE HOME */
* {
  margin: 0;
  padding: 0;
}

.button {
  /* display: flex; porque en este caso no funciona? */
  flex-direction: row;
  border: 0px solid black;
  background-color: transparent;
}

.button a {
  text-decoration: none;
  color: rgb(112, 71, 30);
  font-size: 12px;
  padding: 60px;
}

.body {
  text-align: center;
  position: center;
  /* display: flex; */
  /* flex-direction: column; */
  background-image: url("../Imágenes/CampSiteLogo.png");
  margin: auto;
  box-shadow: 2px 2px 2px 2px rgb(145, 97, 7);
}

.body nav {
  position: relative;
  top: 30px;
  padding-bottom: 8px;
}

.logo {
  width: 180px;
  height: 160px;
  display: block;
  position: relative;
  margin: auto;
  top: 28px;
  margin-top: -60px;
}

.título h1 {
  position: relative;
  top: -65px;
  margin-left: -220px;
  font-size: 15px;
  color: white;
  font-style: italic;
  letter-spacing: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 225px;
  padding-bottom: 10px;
}

.subtitle {
  padding-top: 30px;
  margin-left: 220px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: rgb(242, 145, 49);
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(242, 145, 49);
  width: 77%;
}

.fechas {
  display: flex;
  padding-top: 20px;
  width: 80%;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.fecha1 {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  justify-content: center;
  padding-right: 50px;
  margin-left: -20px;
}

.day {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 27px;
}

.day .number {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -3px;
}

.courses {
  font-weight: bold;
  font-style: italic;
  padding: 20px;
  color: rgb(242, 145, 49);
}

.boton {
  border: 0px solid black;
  border-radius: 10px;
  background-color: rgb(231, 195, 158);
  background-size: 10px;
  margin-top: 10px;
}

.boton a {
  text-decoration: none;
  color: rgb(24, 23, 22);
  font-size: 14px;
  padding: 40px;
}

.fecha2 {
  display: flex;
  flex-direction: column;
  padding: auto;
  border-right: 1px solid black;
  padding-right: 50px;
  padding-left: 50px;
}

.fecha3 {
  display: flex;
  flex-direction: column;
  border-bottom: 0px solid black;
  padding-left: 50px;
}

/* DISEÑO DE CONTACTO */

.subtitulo2 {
  padding-top: 45px;
  margin-left: 220px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: rgb(242, 145, 49);
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(242, 145, 49);
  width: 77%;
}

.contacto {
  text-align: center;
  padding: 20px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 50px;
  border: 0px solid black;
  box-shadow: 4px 4px 4px rgb(145, 97, 7);
  background-color: rgb(235, 182, 133);
}

.contacto p {
  font-size: 20px;
}

/* DISEÑO DE CONÓCENOS */

.subtitulo {
  padding-top: 45px;
  margin-left: 220px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: rgb(242, 145, 49);
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(242, 145, 49);
  width: 77%;
}

.intro {
  text-align: center;
  padding: 30px;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  font-size: 20px;
}

.mentores {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding-top: 30px;
  margin-left: 100px;
}

.cv1 img {
  width: 330px;
  height: 380px;
  border-radius: 150px;
  margin-left: 320px;
}

.cv2 img {
  width: 380px;
  height: 380px;
  margin-left: 200px;
}

.mentor1 h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: rgb(242, 145, 49);
  margin-left: 150px;
  padding-bottom: 30px;
  padding-top: -40px;
}

.mentor2 h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: rgb(242, 145, 49);
  margin-left: 250px;
  margin-right: 130px;
  padding-bottom: 20px;
  text-align: right;
}

.cv1 p {
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  padding: 40px;
  text-align: left;
}

.cv2 p {
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  padding: 40px;
  text-align: right;
}

/* DISEÑO DE BOOTCAMP */

/* TABLAS */

.promocion {
  padding-top: 45px;
  margin-left: 220px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: rgb(242, 145, 49);
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(242, 145, 49);
  width: 77%;
}
.table {
  margin: auto;
  margin-top: 50px;
  border: 2px solid black;
  border-collapse: collapse;
}

.table .head {
  border: 2px solid black;
}

th {
  background-color: rgb(165, 146, 128);
  border: 1px solid black;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  font-weight: 5px;
}

tr td {
  padding: 8px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(212, 184, 155);
  border-right: 1px solid black;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
}

tr:hover td {
  color: rgb(248, 242, 242);
  background: rgb(238, 166, 77);
}

/* LISTAS */

.listas {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 600px;
  margin-right: 600px;
  padding: 40px;
  justify-content: center;
  align-items: baseline;
  border: 0px solid black;
  box-shadow: 5px 5px 5px rgb(133, 125, 112);
  background-color: rgb(235, 182, 133);
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  line-height: 20px;
}

.listas h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-decoration: underline;
  padding-bottom: 15px;
}

.atributos {
  padding-left: 100px;
  padding-right: 100px;
}

ul li {
  list-style-type: square;
  list-style-position: inside;
}

.tags p {
  margin-left: 30px;
  font-style: italic;
  text-decoration: underline;
  padding-top: 5px;
}

.subtags {
  margin-left: 70px;
  padding-top: 5px;
}

.subtags li {
  list-style-type: number;
}

ol li {
  list-style-type: circle;
  list-style-position: inside;
  justify-content: center;
}

.daily {
  padding-top: 60px;
  margin-left: 220px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: rgb(242, 145, 49);
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(242, 145, 49);
  width: 77%;
}

.horario {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-left: 280px;
  padding: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

dt {
  font-size: 20px;
  color: rgb(211, 102, 7);
}

/* DISEÑO DE FORMULARIOS */

.tituloform {
  padding-top: 45px;
  margin-left: 220px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: rgb(242, 145, 49);
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(242, 145, 49);
  width: 77%;
}
.form {
  margin: auto;
  padding-top: 30px;
  padding-left: 215px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form h1 {
  color: rgb(204, 116, 8);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: normal;
}

.datos {
  border: 0px solid black;
  border-radius: 10px;
  background-color: rgb(236, 213, 191);
  padding: 30px;
  width: 84%;
}

.datos label {
  padding-left: 18px;
  font-size: 18px;
}

.conocimientos {
  display: flex;
  flex-direction: row;
  border: 0px solid black;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgb(215, 197, 179);
  padding: 30px;
  margin-top: 20px;
  width: 84%;
}

.conocimientos label {
  padding-left: 30px;
  padding-right: 10px;
  font-size: 20px;
}

.curso {
  display: flex;
  flex-direction: row;
  border: 0px solid black;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: rgb(215, 197, 179);
  padding: 30px;

  width: 84%;
}

.curso select {
  margin-left: 25px;
  font-size: 15px;
}

.sobreti h1 {
  border: 0px solid black;
  border-radius: 10px;
  background-color: rgb(236, 213, 191);
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 86%;
}

.fin {
  padding-top: 60px;
  padding-right: 170px;
  text-align: center;
}
.fin input {
  padding: 15px;
  border-radius: 10px;
}

/* DISEÑO DE SUBMIT */

.icono {
  font-size: 80px;
  text-align: center;
  padding-top: 90px;
}

.submit {
  text-align: center;
  margin-top: 10px;
  /* padding: 50px; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-style: italic;
}

.submit h3 {
  font-style: normal;
  color: rgb(216, 131, 20);
  padding-bottom: 10px;
}
